<!doctype html>
<h1>Response Page</h1>
    <p>The dsp_id is {{d['dsp_id']}}</p>
    <p>The floor_price is {{d['floor_price']}}</p>
    <p>The campaign_id is {{d['campaign_id']}}</p>
    <p>The elapsed time was {{d['elapsed']}}</p>
    <p>The advertiser_id is {{d['advertiser_id']}}</p>
    <p>The bid_price is {{d['bid_price']}}</p>
    <p>The id is {{d['id']}}</p>
    <p>The _timestamp is {{d['_timestamp']}}</p>
    <p>The zone_id is {{d['zone_id']}}</p>
    <p>The success is {{d['success']}}</p>
    <p>The creative_id is {{d['creative_id']}}</p>
    <p>Heres the request: {{d['request']}}</p>
    <p>The session_id is {{d['session_id']}}</p>
    <p>This is the creative: {{d['creative']}}</p>
    <p>Heres the response: {{d['response']}}</p>
